body {
	color : white ;
}

form {
	background-color : blue ;
	border-radius : 15px ;
	padding : 10px ;
	width : 400px ;
	height : 400px ;
}

h1 {
	color : white ;
	margin : 50px ;
}

.lon {
	width : 100% ;
}

span {
	color : red ;
}